@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.blackbalk {
    background-image: linear-gradient(to bottom, rgb(188, 221, 140), rgb(217, 221, 227), white);
    width: auto;
    height: 150px;
    margin: -8px;
}

.title {
    color: white;
    font-family: Noto Sans;
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    top: 40px;
    left: 50px;
}

.title:Hover {
    color: rgb(235, 235, 235);
}

.mainPicture {
    border-radius: 25px;
    position:absolute;
    left: 70px;
    top: 210px;
    width: auto;
    height: 300px;
}

.menu {
    display: flex;
    color: black;
    font-family: Noto Sans;
    font-size: 21px;
    font-weight: 500;
    position: relative;
    gap: 60px;
    margin-left: 1125px;
    margin-top: -90px;
    list-style-type: none;
}

.menu li:hover {
    color: white;
    transition: color 0.25s;
}

.siteText {
    font-family: Noto Sans;
    font-size: 55px;
    font-weight: 600;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5px;
    margin-left: 640px;
    margin-top: 150px;
}

.underText {
    font-family: Noto Sans;
    font-size: 25px;
    font-weight: 600;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5px;
    margin-left: 640px;
    margin-top: 150px;
}

.a {
    color: black;
    text-decoration: none;
}

.a:hover {
    color:white;
    cursor: pointer;
    transition: 0.3s;
}