@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.blackbalk {
    background-image: linear-gradient(to bottom, rgb(188, 221, 140), rgb(217, 221, 227), white);
    width: 100%;
    height: 150px;
    margin: -8px;
}

.title {
    color: white;
    font-family: Noto Sans;
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    top: 40px;
    left: 50px;
}

.title a:hover {
    color: rgb(0, 0, 0);
}

.mainPicture {
    border-radius: 25px;
    position:absolute;
    left: 70px;
    top: 210px;
    width: auto;
    height: 300px;
}

.menu {
    display: flex;
    color: black;
    font-family: Noto Sans;
    font-size: 21px;
    font-weight: 500;
    position: relative;
    gap: 60px;
    margin-left: 1125px;
    margin-top: -90px;
    list-style-type: none;
}

.menu li:hover {
    color: white;
    transition: color 0.25s;
}

.siteText {
    font-family: Noto Sans;
    font-size: 55px;
    font-weight: 600;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5px;
    margin-left: 650px;
    margin-top: 150px;
}

.underText {
    font-family: Noto Sans;
    font-size: 25px;
    font-weight: 600;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5px;
    margin-left: 640px;
    margin-top: 150px;
}

.a {
    color: black;
    text-decoration: none;
}

.a:hover {
    color:white;
    cursor: pointer;
    transition: 0.3s;
}

.a1 {
    color: black;
    text-decoration: none;
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 550;
    display: block;
    text-align: center;
    margin-top: 490px;
    z-index: 2;
}

.a1:hover{
    color: rgb(80, 80, 80);
}

.subtitle {
    color: black;
    font-family: Noto Sans;
    font-size: 35px;
    font-weight: 700;
    text-decoration: underline;
    margin-left: 210px;
    margin-top: 100px;
}

.subText {
    color: black;
    font-family: Noto Sans;
    font-size: 28px;
    display: block;
    margin-top: 30px;
    margin-left: 280px;
    list-style-type: disc;
    line-height: 50px;
}

.scrollToTop {
    position: absolute;
    top: 1430px;
    width: 200px;
    height: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: Noto Sans;
    font-size: 15px;
    text-decoration: none;
    z-index: 0;
}

.scrollToTop:hover {
    color: rgb(225, 225, 225);
    cursor: pointer;
    transition: 0.3s;
}

.titleLink {
    color: white;
    font-family: Noto Sans;
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    top: 40px;
    left: 50px;
    text-decoration: none;
}

.titleLink:hover {
    color: rgb(235, 235, 235);
    cursor:pointer;
    transition: 0.3s;
}

.normalText {
    color: black;
    margin-top: 50px;
    font-family: Noto Sans;
    font-size: 25px;
    font-weight: 350;
    line-height: 40px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.footerTitle a {
    display: grid;
    text-decoration: none;
    color: white;
    font-family: Noto Sans;
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    top: 1475px;
    margin-left: 50px;
}

.footerTitle a:hover {
    color: rgb(215, 215, 215);
    transition: 0.3s;
}

.footerText li a {
    color: white;
    text-decoration: none;
    position: relative;
    top: 45px;
    margin-left: 1450px;
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 300;
    list-style-type: none;
    line-height: 40px;
}

.footerText li a:hover {
    color: rgb(205, 205, 205);
    transition: 0.3s;
}

.title2 {
    color: black;
    font-family: Noto Sans;
    font-size: 40px;
    font-weight: 600;
    margin-top: 430px;
    text-align: center;
    text-decoration: underline
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex-grow: 1;
}

footer {
    margin-top: 100px;
    height: 200px;
    background-color: black;
}